# Python cache / bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django stuff
*.log
*.pot
*.py,cover
local_settings.py
media/
staticfiles/
tmp/

# Environments & secrets
.env
.env.*
.venv/
venv/
ENV/
env/
secrets.json
config.json
credentials/
aws_credentials/
.gnupg/

# Common keys and certs
*.pem
*.key
*.crt
*.cer
*.der
*.pfx
*.p12
*.csr

# AWS
.aws/
*.tfstate
*.tfstate.*
.terraform/
cloudformation-template.json

# MySql
*.sql
*.dump
*.bak

# VS Code
.vscode/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db
