{% extends "base.html" %}{% load static %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h1>Change Password</h1>
<form method="post" action="{% url 'accounts:password_change' %}">{% csrf_token %}
  {{ form.non_field_errors }}
  <p>{{ form.old_password.label_tag }} {{ form.old_password }}</p>
  <p>{{ form.new_password1.label_tag }} {{ form.new_password1 }}</p>
  <div class="help">{{ form.new_password1.help_text|safe }}</div>

  <div style="margin:.5rem 0;">
    <div>Password strength: <strong id="meter-text">—</strong></div>
    <progress id="meter" max="4" value="0"></progress>
  </div>

  <p>{{ form.new_password2.label_tag }} {{ form.new_password2 }}</p>
  <button class="btn">Change</button>
</form>
<script src="{% static 'accounts/password_strength.js' %}"></script>
{% endblock %}