{% extends "base.html" %}{% load static %}
{% block title %}Set New Password{% endblock %}
{% block content %}
<h1>Set New Password</h1>
<form method="post">{% csrf_token %}
  {{ form.non_field_errors }}

  {{ form.new_password1.errors }}
  <p>{{ form.new_password1.label_tag }} {{ form.new_password1 }}</p>
  <div class="help">{{ form.new_password1.help_text|safe }}</div>

  <div style="margin:.5rem 0;">
    <div>Password strength: <strong id="meter-text">—</strong></div>
    <progress id="meter" max="4" value="0"></progress>
  </div>

  {{ form.new_password2.errors }}
  <p>{{ form.new_password2.label_tag }} {{ form.new_password2 }}</p>

  <button class="btn" type="submit">Set Password</button>
</form>
<script src="{% static 'accounts/password_strength.js' %}"></script>
{% endblock %}